body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circle {
  background-color: hotpink;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.green {
  background-color: palegreen;
  height: 150px;
  width: 150px;
}

.square {
  background-color: lightskyblue;
  height: 150px;
  width: 150px;
}

#rectangle {
  width: 150px;
  height: 50px;
  background-color: mediumslateblue;
}